.sticky-layout {
  position: relative;
  height: 100%;
  width: 100%;
}

.sticky-layout__header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.sticky-layout__content {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.sticky-layout__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
